.mui-input-group label {width: 26%;padding-top:14px;padding-bottom:14px;text-align:left;}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {width: 74%;}
.mui-input-row .mui-input-clear ~ .mui-icon-clear,
.mui-input-row .mui-input-password ~ .mui-icon-eye {right: 15px; }
.mui-input-row .mui-input-password ~ .mui-icon-eye{font-size: 22px;top: 12px;}
.mui-input-row label~#VerificationCode{box-sizing: border-box;}
.mui-input-row .mui-btn{width: 26%;box-sizing: border-box;right: 15px;padding: 8px 0px;}
.mui-btn-outlined {margin-top: 6px;color: #00B4FF;border: 1px solid #00B4FF; }
.area {
    margin: 20px auto 0px auto;
}
            
.mui-input-group {
   margin-top: 10px;
   background-color: #F5F5F5;
}
            
.mui-input-group:first-child {
    margin-top: 20px;
}
.mui-input-group label {
    padding-right: 0px;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
    /*width: 84%;*/
    height:46px;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
    top: 6px;
}
.mui-content-padded {
   margin-top: 38px;
}
.mui-btn {
    padding: 10px;
}
.link-area {
    display: block;
    margin-top: 12px;
    text-align: right;
}
.mui-icon{ font-size:24px;}
.iconfont {font-size: 17px;}
.mui-input-group .mui-input-row {height: 46px;}
.mui-input-group .mui-input-row:after {right: 15px;}
.mui-input-group:after,.mui-input-group:before{background-color: transparent;}
.mui-input-group:first-child {margin-top: 10px; }
.mui-bar-nav {box-shadow: 0 1px 0px #00B4FF;}
.mui-bar {height: 48px;}
.mui-bar .mui-icon {padding-top: 12px;padding-bottom: 12px;}
.mui-title {line-height: 48px;font-size: 18px;}
.mui-bar-nav ~ .mui-content {padding-top: 48px;}
body {background:#F5F5F5; }